.git
.gitignore
.npmrc
.npmrc.*
.idea
.vscode
.cache
.turbo
.eslintcache
.next
node_modules
npm-debug.log*
*.log
Dockerfile*
docker-compose*.yml
docker-compose*.yaml
.env
.env.*
*.env
*.env.*
temp.env
*.pem
*.key
*.p12
*.pfx
*.tsbuildinfo
coverage
playwright-report
test-results
